GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WorldSkillsDBTask1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WorldSkillsDBTask1]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 22.01.2024 14:55:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Number] [int] NULL,
	[DateStart] [date] NULL,
	[Name] [nvarchar](50) NULL,
	[DateEnd] [date] NULL
) ON [PRIMARY]
GO
USE [master]
GO
